@charset "UTF-8";
.nav-bar {
  position: fixed;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #ffffff;
  z-index: 99;
  border-bottom: 1px solid #e8eaed;
}

.top-nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #ffffff;
  border-bottom: 1px solid #e8eaed;
}

.collapse-nav-bar {
  -webkit-box-shadow: 1px -3px 10px black;
          box-shadow: 1px -3px 10px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collapse-top-nav {
  border: none;
  width: auto;
  margin: 0 auto;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  padding: 23px;
  font-size: 1em;
  font-weight: 700;
  background: #ffffff;
}
.nav-links li a {
  color: #323335;
}
.nav-links li a:hover, .nav-links li a:focus {
  color: #ee4266;
}

.nav-logo {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
}
.nav-logo img {
  max-width: 200px;
  max-height: 50px;
}

.nav-menu {
  position: absolute;
  right: 30px;
  z-index: 1;
}

.nav-search-icon {
  display: none;
  padding: 4px;
  float: left;
}

.nav-hamburger-icon {
  display: none;
  float: right;
  margin: 0 20px;
}
.nav-hamburger-icon .line {
  width: 30px;
  height: 5px;
  margin: 4px 0 4px;
  border-radius: 2px;
  background: #ee4266;
}

.nav-search-bar {
  position: absolute;
  top: 0;
  padding: 15px;
  width: 100%;
  background: #ffffff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  visibility: hidden;
}

.nav-search-bar-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border-radius: 3px;
}
.nav-search-bar-group input {
  border: none;
  outline: none;
  caret-color: #97989b;
  padding: 5px 5px 5px 20px;
  width: 80vw;
  border-radius: 20px 20px;
  -webkit-box-shadow: inset 0 0 20px #e8eaed;
          box-shadow: inset 0 0 20px #e8eaed;
}

.fade-in {
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.collapse-nav-links {
  margin: 0 auto;
  padding-right: 80px;
  gap: 35px;
}

.show {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav-bar-relative-strip {
  width: 100%;
  height: 142px;
}

@media screen and (max-width: 768px) {
  .nav-bar-relative-strip {
    height: 72px;
  }

  .nav-links {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    text-align: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 91vh;
    width: -webkit-fill-available;
    -webkit-clip-path: circle(1px at 90% -10%);
            clip-path: circle(1px at 90% -10%);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    pointer-events: none;
    -webkit-box-shadow: inset 0 0 8px #97989b;
            box-shadow: inset 0 0 8px #97989b;
  }
  .nav-links li a {
    font-size: 1.25em;
  }
  .nav-links li:nth-child(1) {
    width: 100%;
    padding: 35px 0;
    opacity: 0;
    border-bottom: 1px solid #e8eaed;
    -webkit-transition: all 0.5s ease-in 0.2s;
    transition: all 0.5s ease-in 0.2s;
  }
  .nav-links li:nth-child(2) {
    width: 100%;
    padding: 35px 0;
    opacity: 0;
    border-bottom: 1px solid #e8eaed;
    -webkit-transition: all 0.5s ease-in 0.4s;
    transition: all 0.5s ease-in 0.4s;
  }
  .nav-links li:nth-child(3) {
    width: 100%;
    padding: 35px 0;
    opacity: 0;
    border-bottom: 1px solid #e8eaed;
    -webkit-transition: all 0.5s ease-in 0.6s;
    transition: all 0.5s ease-in 0.6s;
  }
  .nav-links li:nth-child(4) {
    width: 100%;
    padding: 35px 0;
    opacity: 0;
    border-bottom: 1px solid #e8eaed;
    -webkit-transition: all 0.5s ease-in 0.8s;
    transition: all 0.5s ease-in 0.8s;
  }
  .nav-links li:nth-child(5) {
    width: 100%;
    padding: 35px 0;
    opacity: 0;
    border-bottom: 1px solid #e8eaed;
    -webkit-transition: all 0.5s ease-in 1s;
    transition: all 0.5s ease-in 1s;
  }

  .nav-logo {
    margin: unset;
  }

  .nav-menu {
    display: inline-block;
    margin-left: auto;
    position: relative;
    right: auto;
  }

  .nav-hamburger-icon {
    display: inline-block;
  }

  .nav-search-bar {
    width: 100%;
    padding: 20px;
    background: #ffffff;
    -webkit-box-shadow: 0px 7px 15px -12pt black;
            box-shadow: 0px 7px 15px -12pt black;
    border-bottom: 1px solid #e8eaed;
    z-index: -1;
    top: auto;
    right: auto;
  }

  .open-nav-bar {
    -webkit-clip-path: circle(1000px at 90% -10%);
            clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    overflow-y: auto;
  }
  .open-nav-bar li:nth-child(n) {
    opacity: 1;
  }

  .top-nav-bar {
    -webkit-box-shadow: 0 -8px 15px #000000;
            box-shadow: 0 -8px 15px #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-bottom {
  padding-top: 30px;
  border-top: 1px solid #323335;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-nav li {
  display: inline-block;
  margin-right: 10px;
}

.footer-copyright a {
  font-weight: 700;
}

.header {
  height: 141px;
}

@media screen and (max-width: 768px) {
  .header {
    height: 71px;
  }
}
footer {
  margin-top: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #1b1c1e;
}

footer {
  color: #97989b;
}

footer a {
  color: #97989b;
}

footer a:hover, footer a:focus {
  color: #ee4266;
}

.footer-widget {
  margin-bottom: 30px;
  text-align: justify;
}

.footer-widget .footer-title {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.section-header {
  position: relative;
  margin-bottom: 20px;
}

.section-header-title {
  display: inline-block;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0 auto;
  padding-right: 5px;
  background: #ffffff;
}
.section-header-title:after {
  content: "";
  display: inline-block;
  height: 3px;
  background-color: #e8eaed;
  position: absolute;
  left: 15px;
  right: 1px;
  top: 10px;
  z-index: -1;
}

.section-header.xl .section-header-title {
  font-size: 1.5em;
}
.section-header.xl .section-header-title::after {
  height: 4px;
  top: 12px;
}

.page-header {
  position: relative;
  padding-top: 120px;
  padding-bottom: 80px;
  background-color: #1b1c1e;
}

.header-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.auth {
  padding-top: 30px;
}

#post-header {
  padding-top: 200px;
}

.page-header .page-header-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-header .page-header-bg:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 28, 30, 0)), color-stop(90%, rgba(27, 28, 30, 0.8)));
  background: linear-gradient(180deg, rgba(27, 28, 30, 0) 0%, rgba(27, 28, 30, 0.8) 90%);
}

.page-header h1 {
  font-size: 41.053px;
  color: #ffffff;
  font-weight: 700;
}

.page-header .lead {
  font-size: 20.25px;
  color: #ffffff;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.post-category a {
  color: #ee4266;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.page-header h1 {
  text-shadow: 0 0 10px #000000;
}

.post-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  gap: 16px;
}
.post-meta li {
  font-size: 0.9em;
  color: #e8eaed;
  text-shadow: 0 0 20px #323335;
}
.post-meta li a {
  color: #e8eaed;
}
.post-meta li a:hover {
  color: #ee4266;
}
.post-meta li span {
  padding-right: 5px;
}

.weather-widget {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: inset 0px 0px 6px black;
          box-shadow: inset 0px 0px 6px black;
  border-radius: 1em;
  padding: 1em;
  text-transform: uppercase;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.weather-widget .date {
  font-size: 1em;
  font-weight: bold;
  color: #0000005e;
  display: block;
}
.weather-widget .location {
  display: block;
  font-size: 1.25em;
  font-weight: bolder;
}
.weather-widget .location .city {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.weather-widget .location .city::after {
  content: ",";
}
.weather-widget .location .country {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0.5em;
}
.weather-widget .weather {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: lighter;
}
.weather-widget .weather .temp {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 3em;
}
.weather-widget .weather .temp::after {
  content: "°";
}
.weather-widget .weather .desc {
  padding: 0 5px;
}
.weather-widget .art {
  float: right;
}
.weather-widget .art img {
  width: 90px;
}

.show {
  visibility: visible;
  opacity: 1;
}

.social-widget ul {
  overflow: hidden;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 3px black;
          box-shadow: 0px 0px 3px black;
}
.social-widget ul li {
  float: left;
  width: 33.33%;
}
.social-widget ul li a {
  display: block;
  text-align: center;
  padding: 30px 15px;
  color: #ffffff;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
.social-widget ul li:hover {
  opacity: 0.9;
}
.social-widget ul li span {
  font-weight: 700;
  font-size: 14px;
}
.social-widget ul li i {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}

.contact-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}
.contact-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  color: #ffffff;
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
}
.contact-social a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 4px #ffffff;
          box-shadow: 0 0 4px #ffffff;
  color: #ffffff;
}

.post-card-xs, .post-card-xl, .post-card-sm, .post-card-md, .post-card-lg {
  margin-bottom: 2em;
}

.post-img, .post-card-img {
  overflow: hidden;
  display: block;
}
.post-img img, .post-card-img img {
  width: 100%;
  border-radius: 0.25em 0.25em 0 0;
  -webkit-transition: 1.6s -webkit-transform;
  transition: 1.6s -webkit-transform;
  transition: 1.6s transform;
  transition: 1.6s transform, 1.6s -webkit-transform;
}
.post-img img:hover, .post-card-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.post-card-body {
  display: block;
  padding: 1em;
  position: relative;
  margin: -80px 0 0 3%;
  z-index: 2;
  background: white;
  border-radius: 3px 0 0 0;
}
.post-card-body .fa {
  padding-right: 5px;
}

.post-card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-card-category {
  text-transform: uppercase;
  color: #ee4266;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.post-card-category a {
  font-weight: bold;
}

.post-card-share ul {
  list-style: none;
  padding: 0;
}
.post-card-share ul li {
  display: inline-block;
  padding: 0 0.4em;
}

.post-card-title {
  display: block;
  font-weight: bolder;
  font-size: 1.25em;
  text-align: justify;
  line-height: 1.2em;
}

.post-card-meta {
  display: block;
  padding: 1em 0;
}
.post-card-meta ul {
  padding: 0;
  list-style: none;
}
.post-card-meta ul li {
  display: inline-block;
  color: #97989b;
  font-size: 12px;
  text-transform: uppercase;
  padding-right: 8px;
}
.post-card-meta ul li span::before {
  padding: 0 4px 0 0;
  font-weight: bolder;
}

.post-card-xs {
  position: relative;
}
.post-card-xs .post-card-img {
  float: left;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
.post-card-xs .post-card-img img {
  width: 130px;
  border-radius: 0.1em;
}
.post-card-xs .post-card-body {
  position: relative;
  background: transparent;
  margin: 0 0 0 150px;
  padding: 0;
}
.post-card-xs .post-card-body .post-card-category {
  font-size: 12px;
  font-weight: bolder;
}
.post-card-xs .post-card-body .post-card-title {
  font-size: 0.9em;
  margin: 5px 0;
  height: 40px;
  overflow: hidden;
  text-align: left;
}
.post-card-xs .post-card-body .post-card-meta {
  padding: 0;
  font-size: 10px;
}

.post-card-lg {
  display: block;
}
.post-card-lg .post-card-img {
  display: inline-block;
  width: 40%;
}
.post-card-lg .post-card-body {
  display: inline-block;
  width: 60%;
  margin: 0;
  vertical-align: top;
  padding-top: 0;
}
.post-card-lg .post-card-body .post-card-title {
  font-size: 1.15em;
  margin-bottom: 0px;
  font-style: normal;
}
.post-card-lg .post-card-body .post-card-meta {
  padding: 5px 0;
  font-size: 0.8em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
}

@media screen and (min-width: 576px) {
  .post-card-sm .post-card-img {
    margin: 0;
  }
  .post-card-sm .post-card-body {
    margin: 0;
    z-index: 0;
    border-radius: 0;
    padding: 0.2em 0;
  }
  .post-card-sm .post-card-body .post-card-title {
    font-size: 1em;
    line-height: 1em;
  }
  .post-card-sm .post-card-body .post-card-meta {
    padding: 0.5em 0;
  }

  .post-card-lg {
    -webkit-box-shadow: 0 0 6px black;
            box-shadow: 0 0 6px black;
    border-radius: 1em;
  }
  .post-card-lg .post-card-img {
    width: 100%;
    border-radius: 1em 1em 0 0;
  }
  .post-card-lg .post-card-body {
    width: 100%;
    border-radius: 1em;
  }
}
.post-nav-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9em;
  margin: 50px 0;
  gap: 40px;
}

.post-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  gap: 0 20px;
}
.post-nav.left {
  text-align: left;
}
.post-nav.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}
.post-nav .post-body .post-title {
  font-weight: 700;
  height: 68px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.post-nav .post-body .post-subtitle {
  color: #97989b;
  font-weight: 800;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .post-nav-card .post-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.footer-logo {
  margin-bottom: 0;
}

.footer-logo .logo {
  display: inline-block;
  line-height: 70px;
  height: 70px;
}

.authors-widget {
  -webkit-box-shadow: inset 0 0 6px #000000;
          box-shadow: inset 0 0 6px #000000;
  border-radius: 1em;
}
.authors-widget ul li {
  border-bottom: 1px solid #323335;
  padding: 15px 5px;
  margin: 0 5px;
}
.authors-widget ul li:last-child {
  border-bottom: 0;
}
.authors-widget ul li a {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}
.authors-widget ul li a span {
  float: right;
  margin-left: 15px;
  font-size: 14px;
  color: #97989b;
}

.tags-widget .tag {
  display: inline-block;
  margin: 0 4px 6px 0;
}
.tags-widget .tag a {
  display: block;
  -webkit-box-shadow: 0 0 2px #1b1c1e;
          box-shadow: 0 0 2px #1b1c1e;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 700;
  background-color: #323335;
  border-radius: 2px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.tags-widget .tag a:hover, .tags-widget .tag a:focus {
  color: #ffffff;
  background-color: #ee4266;
}

.post-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  gap: 9px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 15px 0;
  -webkit-box-shadow: inset 0 0 3px #97989b;
          box-shadow: inset 0 0 3px #97989b;
  padding: 12px;
  border-radius: 5px;
}
.post-tags::before {
  content: "Tags";
  position: relative;
  top: -24px;
  height: 20px;
  background: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}
.post-tags .tag {
  display: block;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 2px;
  -webkit-transition: background 0.25s ease-in;
  transition: background 0.25s ease-in;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 2px 1px #ee4266;
          box-shadow: 0 0 2px 1px #ee4266;
}
.post-tags .tag:hover {
  color: #ffffff;
  background: #ee4266;
}

.post-tags li:first-child {
  margin-left: -51px;
}

.counter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.counter div {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.counter span {
  color: #ffffff;
  font-size: 1.2em;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.counter p {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1em;
}

.heart {
  -webkit-animation: heartBeat 1.2s infinite;
          animation: heartBeat 1.2s infinite;
  color: crimson;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  20% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  20% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
.jump {
  -webkit-animation: jumpingMan 1s infinite;
          animation: jumpingMan 1s infinite;
}

@-webkit-keyframes jumpingMan {
  0% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
}

@keyframes jumpingMan {
  0% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
}
.wiggle {
  -webkit-animation: wiggling 1.2s infinite;
          animation: wiggling 1.2s infinite;
}

@-webkit-keyframes wiggling {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes wiggling {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}
.ting {
  -webkit-animation: tingtong 1s infinite;
          animation: tingtong 1s infinite;
}

@-webkit-keyframes tingtong {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #ffffff;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes tingtong {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #ffffff;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
.go-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  z-index: 10;
  left: auto;
  right: 10px;
  top: auto;
  border-radius: 30px;
  bottom: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 3px 0px #ee4266;
          box-shadow: 0px 0px 3px 0px #ee4266;
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.go-to-top:hover {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.go-to-top a {
  color: #ee4266;
  font-size: 1.5em;
  padding: 20px;
  border-radius: 30px;
}

.category-widget {
  -webkit-box-shadow: inset 0 0 6px #000000;
          box-shadow: inset 0 0 6px #000000;
  border-radius: 1em;
  margin-bottom: 20px;
  text-align: center;
}
.category-widget ul {
  list-style: none;
  padding: 0 5px;
}
.category-widget ul li {
  padding: 15px 5px;
  border-bottom: 1px solid #e8eaed;
}
.category-widget ul li a {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}
.category-widget ul li a span {
  float: right;
  font-size: 14px;
  color: #97989b;
  margin-left: 15px;
}

.newsletter-widget {
  position: relative;
  padding: 0px 30px 30px;
  border-left: 2px dashed #e8eaed;
  border-right: 2px dashed #e8eaed;
  text-align: left;
}

.aside-widget:last-child .newsletter-widget {
  border-bottom: 2px dashed #e8eaed;
}

.newsletter-widget div {
  position: relative;
  z-index: 20;
}

.newsletter-widget .input {
  margin-bottom: 15px;
}

.newsletter-widget:after {
  content: "";
  font-family: FontAwesome;
  position: absolute;
  bottom: -25px;
  right: 27px;
  font-size: 160px;
  color: #e8eaed;
  -webkit-transform: rotate(13deg);
  transform: rotate(13deg);
}

.footer-widget .newsletter-widget {
  padding: 0px;
  border: none;
}

.footer-widget .newsletter-widget:after {
  color: #323335;
}

#editorjs {
  -webkit-box-shadow: inset 0 0 3px 0px #000000;
          box-shadow: inset 0 0 3px 0px #000000;
  border-radius: 10px;
}

.contact li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 55px;
  padding-top: 5px;
  min-height: 40px;
}
.contact li a {
  font-weight: 500;
}
.contact li i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  text-align: center;
  height: 40px;
  background: #ffffff;
  color: #ee4266;
  border: 1px solid #e8eaed;
  line-height: 40px;
  border-radius: 50%;
}
.contact li i:hover {
  -webkit-box-shadow: 0 0 3px #ee4266;
          box-shadow: 0 0 3px #ee4266;
}

.fa-phone:hover {
  -webkit-animation: call 1.2s infinite;
          animation: call 1.2s infinite;
}

.fa-map-marker:hover::before {
  -webkit-animation: location 1.5s infinite;
          animation: location 1.5s infinite;
}

.fa-envelope:hover::before {
  -webkit-animation: mail 1.5s infinite;
          animation: mail 1.5s infinite;
}

@-webkit-keyframes call {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  10% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  30% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  40% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  90% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes call {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  10% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  30% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  40% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  90% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
@-webkit-keyframes location {
  0% {
    font-size: 18px;
  }
  50% {
    font-size: 6px;
  }
  100% {
    font-size: 18px;
  }
}
@keyframes location {
  0% {
    font-size: 18px;
  }
  50% {
    font-size: 6px;
  }
  100% {
    font-size: 18px;
  }
}
@-webkit-keyframes mail {
  0% {
    content: "";
  }
  50% {
    content: "";
  }
  100% {
    content: "";
  }
}
@keyframes mail {
  0% {
    content: "";
  }
  50% {
    content: "";
  }
  100% {
    content: "";
  }
}
.message {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 12px;
  right: 25px;
}
.message .desc {
  display: inline;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.message:hover .desc, .message:focus .desc {
  background: #ffffff;
  opacity: 1;
}
.message::after {
  background: #ffffff;
}

.error {
  color: #dc3545;
}
.error::after {
  content: "";
  margin-left: 5px;
}

.info {
  color: #ffc107;
}
.info::after {
  content: "";
  margin-left: 5px;
}

.success {
  color: #28a745;
}
.success::after {
  content: "";
  margin-left: 5px;
}

.like-content {
  display: inline-block;
  padding: 20px;
  width: 100%;
  font-size: 18px;
  border-top: 10px dashed #eee;
  text-align: center;
}
.like-content > div {
  border: 0;
}
.like-content .card-body i {
  text-shadow: 0 0 10px #ee4266;
}

.like-content span {
  color: #9d9da4;
  font-family: monospace;
}

.like-content .btn-secondary {
  display: block;
  margin: 0px auto 0px;
  text-align: center;
  background: #ed2553;
  border-radius: 3px;
  -webkit-box-shadow: 0 10px 20px -8px #f04b71;
          box-shadow: 0 10px 20px -8px #f04b71;
  padding: 10px 17px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.like-content .btn-secondary:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.like-content .btn-secondary .fa {
  margin-right: 5px;
}

.animate-like {
  -webkit-animation-name: likeAnimation;
          animation-name: likeAnimation;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s;
}

.animate-unlike {
  -webkit-animation-name: unlikeAnimation;
          animation-name: unlikeAnimation;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s;
}

@-webkit-keyframes likeAnimation {
  0% {
    -webkit-transform: scale(30);
            transform: scale(30);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes likeAnimation {
  0% {
    -webkit-transform: scale(30);
            transform: scale(30);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes unlikeAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(30);
            transform: scale(30);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes unlikeAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(30);
            transform: scale(30);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  color: #505050;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #11151c;
  font-weight: 700;
  margin: 0 0 15px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 8px;
}

p {
  margin: 0 0 20px;
}

a {
  color: #11151c;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}
a:hover, a:focus {
  color: #ee4266;
  text-decoration: none;
  outline: none;
}

::-moz-selection {
  background-color: #ee4266;
  color: #ffffff;
}

::selection {
  background-color: #ee4266;
  color: #ffffff;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.list-style, ol.list-style {
  padding-left: 15px;
  margin-bottom: 10px;
}

ul.list-style {
  list-style-type: disc;
}

ol.list-style {
  list-style-type: decimal;
}

figure {
  margin-bottom: 20px;
}

figure img {
  width: 100%;
}
figure .pull-right {
  margin-left: 15px;
}
figure .pull-left {
  margin-right: 15px;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid orange;
  letter-spacing: 0.15em;
  -webkit-animation: typing 1s steps(70, end), blink-caret 0.8s step-end infinite;
          animation: typing 1s steps(70, end), blink-caret 0.8s step-end infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.section {
  padding-top: 30px;
}

.section-row {
  margin-bottom: 30px;
}

.section-title {
  position: relative;
  margin-bottom: 20px;
}
.section-title .title {
  position: relative;
  display: inline-block;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
  z-index: 2;
  color: #11151c;
}
.section-title .title:after {
  content: "";
  display: inline-block;
  height: 3px;
  background-color: #e8eaed;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 10px;
  z-index: 0;
}

.section-subtitle {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0;
}
.section-subtitle .title {
  position: relative;
  display: inline-block;
  background-color: #fff;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 8px;
  z-index: 2;
  color: #97989b;
}
.section-subtitle .title:after {
  content: "";
  display: inline-block;
  height: 2px;
  background-color: #e8eaed;
  position: absolute;
  left: 15px;
  right: 0;
  top: 12px;
  z-index: 0;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #e8eaed;
  outline: none;
}
.input:focus {
  -webkit-box-shadow: 0 0 4px 1px #ee4266;
          box-shadow: 0 0 4px 1px #ee4266;
}

textarea.input {
  padding: 15px;
  height: 90px;
}

button:focus {
  outline: 0;
}

.primary-button, .secondary-button {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.primary-button:hover, .primary-button:focus, .secondary-button:hover, .secondary-button:focus {
  background-color: transparent;
}

.primary-button {
  background-color: #ee4266;
  -webkit-box-shadow: inset 0 0 0 2px #ee4266;
          box-shadow: inset 0 0 0 2px #ee4266;
}
.primary-button:hover, .primary-button:focus {
  color: #ee4266;
}

.secondary-button {
  background-color: #353535;
  -webkit-box-shadow: 0 0 0 0 2px #353535 inset;
          box-shadow: 0 0 0 0 2px #353535 inset;
}
.secondary-button:hover, .secondary-button:focus {
  color: #353535;
}

.social-facebook {
  background: #225b99 !important;
}

.social-twitter {
  background: #00adf2 !important;
}

.social-pinterest {
  background: #cc2127 !important;
}

.social-instagram {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
}

.social-whatsapp {
  background: #25d366 !important;
}

.social-linkedin {
  background: #2867B2 !important;
}

.social-facebook-color {
  color: #225b99 !important;
}

.social-twitter-color {
  color: #00adf2 !important;
}

.social-pinterest-color {
  color: #cc2127 !important;
}

.social-instagram-color {
  color: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
}

.social-whatsapp-color {
  color: #25d366 !important;
}

.social-linkedin-color {
  color: #2867B2 !important;
}

.section {
  padding-top: 30px;
}

.section-row {
  margin-bottom: 30px;
}

.author.media .media-left {
  position: relative;
  padding-right: 30px;
}

.author .author-img {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 15px;
}

.auth-img {
  width: 200px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 15px;
}

.author .author-social li {
  display: inline-block;
  margin-right: 10px;
}

.author .author-social li a {
  display: block;
}

.page-header .author .author-social li a {
  color: #fff;
}

.page-header .author .author-social li a:hover,
.page-header .author .author-social li a:focus {
  color: #ee4266;
}

.loading {
  opacity: 0.5;
}
.loading::after {
  content: "Processing...";
  text-align: center;
  padding: 35%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://icons8.com/preloaders/preloaders/831/Pinwheel.gif);
  background-position: center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */